
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.App {
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px;
}
